:root {
	--background: #ffffff;
	--foreground: #333;
	--background-dark: #0a0a0a;
	--foreground-dark: #ededed;

	color-scheme: light dark;
	color: light-dark(var(--foreground), var(--foreground-dark));
	background: light-dark(var(--background), var(--background-dark));
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
